# Встановлює LF як стандартний перенос рядків для всіх текстових файлів
* text=auto eol=lf

# Вимкнення обробки для зображень та бінарних файлів
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary
*.pdf binary

# Специфікація для типових файлів коду
*.js     text eol=lf
*.jsx    text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.css    text eol=lf
*.html   text eol=lf
*.md     text eol=lf
*.json   text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.sh     text eol=lf
